{{#if (gt rowData.length 0)}}
  {{#if (gt headerInputs.length 0)}}
  <div id="batch-edit-header-input-row" class="header-input-row">
    {{#if showTooltip}}
      <div id="batch-edit-info-container"> {{tooltip-popover title=tooltipTitle message=tooltipMessage}} </div>
    {{/if}}
    {{#each headerInputs as |headerInput|}}
       {{# if (eq column.type 'text')}}
          <div class="header-input-column">
            <label for={{title}} rel="tooltip" title={{headerInput.searchTarget}}>{{headerInput.label}}</label>
            <div >
            {{ember-input-trim
              id=(unique-name-helper model=headerInputModel name=headerInput.input dbid='text')
              key-up=(action "bulkUpdateAction" headerInput)
              enter=(action "bulkUpdateAction" headerInput)
              on-blur=(action "bulkUpdateAction" headerInput)
              focus-out=(action "bulkUpdateAction" headerInput)
              type="text"
              class="form-control"
              value=headerInput.value
              placeholder=headerInput.placeHolder
            }}
            </div>
          </div>
        {{else if (eq headerInput.type 'float')}}
          <div class="header-input-column">
            <label for={{title}} rel="tooltip" title={{headerInput.searchTarget}}>{{headerInput.label}}</label>
            <div >
            {{ember-input-float
              id=(unique-name-helper model=headerInputModel name=headerInput.input dbid='float')
              key-up=(action "bulkUpdateAction" headerInput)
              enter=(action "bulkUpdateAction" headerInput)
              on-blur=(action "bulkUpdateAction" headerInput)
              focus-out=(action "bulkUpdateAction" headerInput)
              type="number"
              value=headerInput.value
              placeholder=headerInput.placeHolder
              nullable=true
              fixedDecimalPlaces=headerInput.fixedDecimalPlaces

            }}
            </div>
          </div>
        {{else if (eq headerInput.type 'checkbox')}}
        <div class="header-input-column">
          <label>
            {{input id=(unique-name-helper model=headerInputModel name=headerInput.input dbid='checkbox') type="checkbox" checked=headerInput.value click=(action "bulkUpdateAction" headerInput)}}
            {{headerInput.label}}
          </label>
        </div>
        {{else if (eq headerInput.type 'select')}}
          <div class="header-input-column">
            <label for={{title}} rel="tooltip" title={{headerInput.searchTarget}}>{{headerInput.label}}</label>
            <div>
              {{ember-selectize
                class='multisearch-select'
                content=headerInput.content
                placeholder=headerInput.placeHolder
                optionValuePath=headerInput.optionValuePath
                optionLabelPath=headerInput.optionLabelPath
                selection=headerInput.value
                select-item=(action "bulkUpdateAction" headerInput)
                on-blur=(action "bulkUpdateAction" headerInput)
                    id=(unique-name-helper model=headerInputModel name=headerInput.input dbid='select')
              }}
            </div>
          </div>
        {{else if (eq headerInput.type 'multiselect')}}
          <div class="header-input-column">
            <label for={{title}} rel="tooltip" title={{headerInput.searchTarget}}>{{headerInput.label}}</label>
            <div>
              {{ember-selectize
                class='multisearch-multiselect'
                content=headerInput.content
                multiple=true
                placeholder=headerInput.placeHolder
                optionValuePath=headerInput.optionValuePath
                optionLabelPath=headerInput.optionLabelPath
                selection=headerInput.value
                add-item=(action "bulkUpdateAction" headerInput)
                remove-item=(action "bulkUpdateAction" headerInput)
                select-item=(action "bulkUpdateAction" headerInput)
                on-blur=(action "bulkUpdateAction" headerInput)
                id=(unique-name-helper model=headerInputModel name=headerInput.input dbid='multiselect')
              }}
            </div>
          </div>
        {{else if (eq headerInput.type 'date')}}
          <div class="header-input-column">
            <label for={{title}} rel="tooltip" title={{headerInput.searchTarget}}>{{headerInput.label}}</label>
            <div>
              <div class="ember-batch-edit-date-wrapper">
                <div class="ember-pikaday-input-wrapper">
                  {{pikaday-input
                      value=headerInput.value
                      placeholder=headerInput.placeHolder
                      onSelection=(action 'updateDateAction' headerInput (mut headerInput.value))
                      yearRange="10"
                      format=dateFormat
                      id=(unique-name-helper model=headerInputModel name=headerInput.input dbid='date')
                  }}

                  {{#ember-pikaday-clear-icon targetDate=headerInput.value icon='fa-times' click=(action 'updateDateAction' headerInput)}}{{/ember-pikaday-clear-icon}}
                </div>
               </div>
              </div>
            </div>
          {{/if}}
    {{/each}}
  </div>
  {{/if}}
  <table id="ember-batch-edit-table" class="table table-striped table-bordered-no-hover">
    <thead>
      <tr>
        {{#each columns as |column|}}
          <td class="{{if column.additionalClasses column.additionalClasses}}">
            <div class="row">
            {{#if (not column.bulkEditable)}}
              <div class="col-xs-12">
                <label>{{column.label}}</label>
              </div>
            {{else if (eq column.type 'text')}}
              <div>
                <label class="col-xs-6 col-md-3" for={{title}} rel="tooltip" title={{column.searchTarget}}>{{column.label}}</label>

                <label class="col-xs-6 col-md-3" >
                  {{input type="checkbox" checked=column.bulkChecked click=(action "bulkUpdateChecked" column)}}
                   Bulk Edit
                </label>
                <div class="col-xs-12 col-md-6" >
                {{ember-input-trim
                  id=(unique-name-helper model="columnHeader" name=column.input dbid='text')
                  key-up=(action "bulkUpdateAction" column)
                  enter=(action "bulkUpdateAction" column)
                  on-blur=(action "bulkUpdateAction" column)
                  focus-out=(action "bulkUpdateAction" column)
                  type="text"
                  class="form-control"
                  value=column.value
                  placeholder=column.placeHolder
                  disabled=(not column.bulkChecked)
                }}
                </div>
              </div>
            {{else if (eq column.type 'float')}}
              <div>
                <label class="col-xs-6 col-md-3" for={{title}} rel="tooltip" title={{column.searchTarget}}>{{column.label}}</label>

                <label class="col-xs-6 col-md-3" >
                  {{input type="checkbox" checked=column.bulkChecked click=(action "bulkUpdateChecked" column)}}
                   Bulk Edit
                </label>
                <div class="col-xs-12 col-md-6" >
                {{ember-input-float
                  id=(unique-name-helper model="columnHeader" name=column.input dbid='float')
                  key-up=(action "bulkUpdateAction" column)
                  enter=(action "bulkUpdateAction" column)
                  on-blur=(action "bulkUpdateAction" column)
                  focus-out=(action "bulkUpdateAction" column)
                  type="number"
                  value=column.value
                  placeholder=column.placeHolder
                  disabled=(not column.bulkChecked)
                  nullable=true
                  fixedDecimalPlaces=column.fixedDecimalPlaces

                }}
                </div>
              </div>
            {{else if (eq column.type 'checkbox')}}
              <label class="col-xs-6">
                {{input type="checkbox" checked=column.bulkChecked click=(action "bulkUpdateChecked" column)}}
                 Bulk Edit
              </label>
              <label class="col-xs-6">
                {{input id=(unique-name-helper model="columnHeader" name=column.input dbid='checkbox') type="checkbox" checked=column.value disabled=(not column.bulkChecked) click=(action "bulkUpdateAction" column)}}
                {{column.label}}
              </label>
            {{else if (eq column.type 'select')}}
              <label class="col-xs-6 col-md-3" for={{title}} rel="tooltip" title={{column.searchTarget}}>{{column.label}}</label>
              <label class="col-xs-6 col-md-3">
                {{input type="checkbox" checked=column.bulkChecked click=(action "bulkUpdateChecked" column)}}
                 Bulk Edit
              </label>
              <div class="col-xs-12 col-md-6">
                {{ember-selectize
                  class='multisearch-select'
                  disabled=(not column.bulkChecked)
                  content=column.content
                  placeholder=column.placeHolder
                  optionValuePath=column.optionValuePath
                  optionLabelPath=column.optionLabelPath
                  selection=column.value
                  select-item=(action "bulkUpdateAction" column)
                  on-blur=(action "bulkUpdateAction" column)
                      id=(unique-name-helper model="columnHeader" name=column.input dbid='select')
                }}
              </div>
            {{else if (eq column.type 'multiselect')}}
              <label class="col-xs-6 col-md-3" for={{title}} rel="tooltip" title={{column.searchTarget}}>{{column.label}}</label>
              <label class="col-xs-6 col-md-3">
                {{input type="checkbox" checked=column.bulkChecked click=(action "bulkUpdateChecked" column)}}
                 Bulk Edit
              </label>
              <div class="col-xs-12 col-md-6">
                {{ember-selectize
                  class='multisearch-multiselect'
                  disabled=(not column.bulkChecked)
                  content=column.content
                  multiple=true
                  placeholder=column.placeHolder
                  optionValuePath=column.optionValuePath
                  optionLabelPath=column.optionLabelPath
                  selection=column.value
                  add-item=(action "bulkUpdateAction" column)
                  remove-item=(action "bulkUpdateAction" column)
                  select-item=(action "bulkUpdateAction" column)
                  on-blur=(action "bulkUpdateAction" column)
                  id=(unique-name-helper model="columnHeader" name=column.input dbid='multiselect')
                }}
              </div>
            {{else if (eq column.type 'date')}}
              <label class="col-xs-6 col-md-3" for={{title}} rel="tooltip" title={{column.searchTarget}}>{{column.label}}</label>
              <label class="col-xs-6 col-md-3">
                {{input type="checkbox" checked=column.bulkChecked click=(action "bulkUpdateChecked" column)}}
                 Bulk Edit
              </label>
              <div class="col-xs-12 col-md-6">
                <div class="ember-batch-edit-date-wrapper">
                  <div class="ember-pikaday-input-wrapper">
                    {{pikaday-input
                        disabled=(not column.bulkChecked)
                        value=column.value
                        placeholder=column.placeHolder
                        onSelection=(action 'updateDateAction' column (mut column.value))
                        yearRange="10"
                        format="MM/DD/YYYY"
                        id=(unique-name-helper model="columnHeader" name=column.input dbid='date')
                    }}

                    {{#ember-pikaday-clear-icon targetDate=column.value icon='fa-times' click=(action 'updateDateAction' column)}}{{/ember-pikaday-clear-icon}}
                  </div>
                 </div>
                </div>
              {{/if}}
            </div>
          </td>
        {{/each}}
        {{#if lockable}}
          {{#if (not bulkLockable)}}
            <td class="batch-lock">
              <div class="fa fa-unlock batch-lock-icon" style="visibility:hidden"></div>
            </td>
          {{else if unlockOnly}}
            <td class="batch-lock" {{action "unlockAll"}}>
              <div class="fa fa-unlock batch-lock-icon" style="visibility: {{if allUnlocked 'hidden'}}"></div>
            </td>
          {{else if (and (not unlockOnly) allLocked)}}
            <td class="batch-lock" {{action "unlockAll"}}>
              <div class="fa fa-unlock batch-lock-icon"></div>
            </td>
          {{else if (and (not unlockOnly) (not allLocked))}}
            <td class="batch-lock" {{action "lockAll"}}>
              <div class="fa fa-lock batch-lock-icon"></div>
            </td>
          {{/if}}
        {{/if}}
      </tr>
    </thead>
     <tbody>
        {{#each rowData as |row index|}}
            {{table-batch-edit-row
               onUpdate = (action "updateRowData")
               row=row
               columns=columns
               index=index
               lockable=lockable
               unlockOnly=unlockOnly
               observedProperties=observedProperties
               dateFormat=dateFormat
               headerInputModel=headerInputModel
            }}
         {{/each}}
     </tbody>
  </table>
{{else}}
  <div id="blank-ember-table-checkbox-columns-table" class="no-results blank-table">
    No Items Found
  </div>
{{/if}}
{{valueConfirmationConfig.showCheckbox}}
{{#confirm-dialog
    action="afterConfirmValueChange"
    cancelAction=(action "afterCancelValueChange")
    confirmDialogId="updateValueDialog"
    showCheckbox=valueConfirmationConfig.showCheckbox
    checkboxMessage=valueConfirmationConfig.checkboxMessage
    headerIconColor=valueConfirmationConfig.headerIconColor
    headerIconClass=valueConfirmationConfig.headerIconClass
    headerText=valueConfirmationConfig.headerText
    headerTextColor=valueConfirmationConfig.headerTextColor
    titleIconColor=valueConfirmationConfig.titleIconColor
    titleIconClass=valueConfirmationConfig.titleIconClass
    titleText=valueConfirmationConfig.titleText
    titleTextColor=valueConfirmationConfig.titleTextColor
    confirmText=valueConfirmationConfig.confirmText
    cancelText=valueConfirmationConfig.cancelText
    }}
    {{{valueUpdateMessage}}}
{{/confirm-dialog}}

{{#confirm-dialog
    action="afterConfirmBulkValueChange"
    cancelAction=(action "afterCancelBulkValueChange")
    confirmDialogId="bulkUpdateValueDialog"
    showCheckbox=bulkValueConfirmationConfig.showCheckbox
    checkboxMessage=bulkValueConfirmationConfig.checkboxMessage
    headerIconColor=bulkValueConfirmationConfig.headerIconColor
    headerIconClass=bulkValueConfirmationConfig.headerIconClass
    headerText=bulkValueConfirmationConfig.headerText
    headerTextColor=bulkValueConfirmationConfig.headerTextColor
    titleIconColor=bulkValueConfirmationConfig.titleIconColor
    titleIconClass=bulkValueConfirmationConfig.titleIconClass
    titleText=bulkValueConfirmationConfig.titleText
    titleTextColor=bulkValueConfirmationConfig.titleTextColor
    confirmText=bulkValueConfirmationConfig.confirmText
    cancelText=bulkValueConfirmationConfig.cancelText
    }}
    {{{bulkValueUpdateMessage}}}
{{/confirm-dialog}}

{{#confirm-dialog
    action="afterConfirmUnlockRows"
    confirmDialogId="unlockRowsDialog"
    showCheckbox=bulkUnlockConfig.showCheckbox
    checkboxMessage=bulkUnlockConfig.checkboxMessage
    headerIconColor=bulkUnlockConfig.headerIconColor
    headerIconClass=bulkUnlockConfig.headerIconClass
    headerText=bulkUnlockConfig.headerText
    headerTextColor=bulkUnlockConfig.headerTextColor
    titleIconColor=bulkUnlockConfig.titleIconColor
    titleIconClass=bulkUnlockConfig.titleIconClass
    titleText=bulkUnlockConfig.titleText
    titleTextColor=bulkUnlockConfig.titleTextColor
    confirmText=bulkUnlockConfig.confirmText
    cancelText=bulkUnlockConfig.cancelText
    }}
    {{{lockRowsConfirmationMessage}}}
{{/confirm-dialog}}

{{#confirm-dialog
    action="afterConfirmLockRows"
    confirmDialogId="lockRowsDialog"
    showCheckbox=bulkLockConfig.showCheckbox
    showCheckbox=bulkLockConfig.showCheckbox
    checkboxMessage=bulkLockConfig.checkboxMessage
    headerIconColor=bulkLockConfig.headerIconColor
    headerIconClass=bulkLockConfig.headerIconClass
    headerText=bulkLockConfig.headerText
    headerTextColor=bulkLockConfig.headerTextColor
    titleIconColor=bulkLockConfig.titleIconColor
    titleIconClass=bulkLockConfig.titleIconClass
    titleText=bulkLockConfig.titleText
    titleTextColor=bulkLockConfig.titleTextColor
    confirmText=bulkLockConfig.confirmText
    cancelText=bulkLockConfig.cancelText
    }}
    {{{unlockRowsConfirmationMessage}}}
{{/confirm-dialog}}
