$button-font: 'Roboto', sans-serif;
$link-color: #728BBC;
$input-color: #989898;
$input-font-size: 1.1em;
$input-padding: 20px 15px 20px 15px;
$input-border-color: #D0D7DD;
$input-font: 'Roboto', sans-serif;
$horizontal-rule-color: #D0D7DD;

/**
 * User Data Grid Variables
 */
$row-header-background-color: #2677B6;
$row-header-font: 'Ubuntu', sans-serif;
$row-header-font-color: #FFFFFF;

$primary-row-background-color: #FFFFFF;
$secondary-row-background-color: #F9F9F9;

$edit-icon-color: #000000;

$table-icon-size: 1.5em;

$active-status-icon-color: #28A745;
$active-status-icon-size: $table-icon-size;

$table-dropdown-menu-line-height: 2.0;
$table-dropdown-menu-icon-margin: 0 10px 0 0;


.table-striped-margin {
  margin-top: 42px;
}

.text-right {
  text-align: right;
}

.ember-batch-edit-date-wrapper > .ember-pikaday-input-wrapper > input {
  @extend .form-control;
  font-size: 12px;
  background-color: unset;
  width:100%;
}

.table td.batch-lock, .table td.batch-cell-icon {
  text-align: center;
  padding:4px;
}


#ember-batch-edit-table.table-bordered-no-hover td.vertical-break-after, .table td.vertical-break-after {
  border-right: solid 1px #dddddd !important;
}

.batch-lock-icon, .batch-cell-icon .fa{
  font-size:20px;
}


#ember-batch-edit-table thead {
  font-weight: bold;
}

.table-striped-margin {
  margin-top: 42px;
}


#ember-batch-edit-table.table-bordered {
  thead {
    background-color: #2677B6;
    color: white;
  }
  .batch-row-has-separator {
    td {
      border-top: 2px solid #000 !important;
    }
  }
  td {
    vertical-align: middle !important;
    border: 0px !important;
    .selectize-input.items {
      vertical-align: bottom;
    }
  }
  td.vertical-top {
    vertical-align: top !important;
  }
  border: 0px !important;
  tbody tr:hover {
    background-color: #eee;
  }
  .col-icon {
    width: 28px;
  }

  .no-hover-head:hover{
    background-color: #2677B6;
  }
}

#ember-batch-edit-table.table-bordered-no-hover {
  thead {
    background-color: #2677B6;
    color: white;
  }
  .batch-row-has-separator {
    td {
      border-top: 2px solid #000 !important;
    }
  }
  td {
    vertical-align: middle !important;
    border: 0px !important;
    .selectize-input.items {
      vertical-align: bottom;
    }
  }
  border: 0px !important;
  .col-icon {
    width: 28px;
  }
}

.text-right {
  text-align: right;
}

.postfix-symbol-input{
  flex: 1;
}

.postfix-symbol-container {
  width: 20px;
  flex: 0 0 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.flex-container{
  display:flex;
}

#batch-edit-header-input-row{
  display: flex;
  padding-bottom: 10px;
  justify-content: flex-end;

  .header-input-column{
    display: flex;
    align-items: center;
    padding-left: 20px;
    label{
      padding-right:5px;
    }
    input{
      min-width: 50px;
    }
  }
}

#batch-edit-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  .batch-edit-info-circle{
    font-size:25px;
  }

  .batch-edit-popover-container{
    display: flex;
    flex-direction: column;
    padding:30px;

    .batch-edit-popover-title{
      font-size:20px;
      font-weight: bold;
    }

    .batch-edit-popover-message{
      margin-top:5px; 
    }
  }

}
